<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Chart - <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="/" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Return to Dashboard
                </a>
                <a href="movies-per-genre-chart" class="btn btn-primary">
                    Movies Per Genre Chart <i class="fas fa-arrow-right"></i>
                </a>
            </div>

            <div class="card-body">
                <form class="form-inline mb-4">
                    <div class="form-group mr-3">
                        <label for="startYear" class="mr-2">Start Year:</label>
                        <input type="number" class="form-control" id="startYear" name="startYear" min="1900" max="2100" value="2000">
                    </div>
                    <div class="form-group mr-3">
                        <label for="endYear" class="mr-2">End Year:</label>
                        <input type="number" class="form-control" id="endYear" name="endYear" min="1900" max="2100" value="2024">
                    </div>
                    <button type="button" class="btn btn-success" onclick="updateChart()">Update Chart</button>
                </form>
                <canvas id="movies-per-year-chart" width="400" height="130"></canvas>
            </div>
        </div>
    </div>

    <script src="static/js/movies-per-year-chart.js"></script>    
</body>

</html>