<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Chart - <%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/static/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <a href="/" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Return to Dashboard
                </a>
                <a href="movies-per-year-chart" class="btn btn-primary">
                    Movies Per Year Chart <i class="fas fa-arrow-right"></i>
                </a>
            </div>

            <div class="card-body">
                <form class="mb-4">
                    <div id="genresContainer" class="form-group">
                        <label>Genres:</label><br>
                        <!-- Radio buttons will be populated dynamically -->
                    </div>
                    <button type="button" class="btn btn-success mr-2" onclick="updateChart()">Update Chart</button>
                    <button type="button" class="btn btn-secondary" onclick="clearFilters()">Clear Filters</button>
                </form>
                <canvas id="movies-per-genre-chart" width="400" height="130"></canvas>
            </div>
        </div>
    </div>

    <script src="static/js/movies-per-genre-chart.js"></script>
</body>

</html>
