<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Admin Dashboard 2024</div>
            <div>
                <a href="https://github.com/Matthewkai234">Mohammed Halim</a>
                &middot;
                <a href="https://github.com/SaifKhalifa">Saif Khalifa</a>
                &middot;
                <a href="https://startbootstrap.com/template/sb-admin">Template Link</a>
            </div>
        </div>
    </div>
</footer>
